modules = ["nodejs-20", "php-8.2", "web"]
[agent]
expertMode = true
integrations = ["replitmail:1.0.0", "resend:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["php82", "mysql80"]

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 8081

[[ports]]
localPort = 32873
externalPort = 6000

[[ports]]
localPort = 33067
externalPort = 8099

[[ports]]
localPort = 33675
externalPort = 3001

[[ports]]
localPort = 34141
externalPort = 5000

[[ports]]
localPort = 34673
externalPort = 3000

[[ports]]
localPort = 38807
externalPort = 5173

[[ports]]
localPort = 39791
externalPort = 8008

[[ports]]
localPort = 40833
externalPort = 8000

[[ports]]
localPort = 41317
externalPort = 4200

[[ports]]
localPort = 42511
externalPort = 3002

[[ports]]
localPort = 42801
externalPort = 3003

[[ports]]
localPort = 44373
externalPort = 8080

[[ports]]
localPort = 45755
externalPort = 9000

[[ports]]
localPort = 45785
externalPort = 6800
