<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /License/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /License/index.html [L]
</IfModule>
